:root {
    --font-body          : roboto, sans-serif;
    --font-heading       : roboto, sans-serif;
    --color-bg           : hsl(0, 0%, 16%);
    --color-bg-dark-100  : hsl(0, 0%, 14%);
    --color-bg-dark-200  : hsl(0, 0%, 12%);
    --color-bg-dark-300  : hsl(0, 0%, 10%);
    --color-bg-light-100 : hsl(0, 0%, 18%);
    --color-bg-light-200 : hsl(0, 0%, 22%);
    --color-bg-light-300 : hsl(0, 0%, 26%);
    --color-border       : rgba(240, 246, 252, 0.1);
    --color-accent       : hsl(0, 0%, 50%);
    --color-accent-dark  : hsl(0, 0%, 45%);
    --color-font         : hsl(0, 0%, 93%);
    --color-heading      : hsl(0, 0%, 100%);
    --font-size          : 15px;
    --container-size     : 95%;
    --container-max-size : 1300px;
    --radius             : 6px;
}

/* Reset */

*, *::after, *::before {
    box-sizing : border-box;
}

html, body {
    padding : 0;
    margin  : 0;
}

/* Basic */

:root {
    font-family              : var(--font-body);
    font-size                : var(--font-size);
    line-height              : 1.7;
    font-weight              : 400;

    color                    : var(--color-font);
    background-color         : var(--color-bg);

    font-synthesis           : none;
    text-rendering           : optimizeLegibility;
    -webkit-font-smoothing   : antialiased;
    -moz-osx-font-smoothing  : grayscale;
    -webkit-text-size-adjust : 100%;
}

.v-hidden {
    position : absolute;
    height   : 1px;
    width    : 1px;
    overflow : hidden;
    clip     : rect(1px, 1px, 1px, 1px);
}


/* Layout */

.container {
    margin : 0 auto;
    width  : var(--container-size);
}

.row {
    display         : flex;
    justify-content : center;
}

a {
    font-weight     : 500;
    color           : var(--color-accent);
    text-decoration : inherit;
}

a:hover {
    color : var(--color-accent-dark);
}

h1, h2, h3, h4, h5, h6 {
    color : var(--color-heading)
}

/* Forms & buttons */

button {
    cursor : pointer;
}

input,
button {
    border-radius    : var(--radius);
    border           : 1px solid transparent;
    padding          : 0.6em 1.2em;
    font-size        : 1rem;
    font-weight      : 500;
    font-family      : inherit;
    color            : #0F0F0F;
    background-color : #FFF;
    transition       : border-color 0.25s;
    box-shadow       : 0 2px 2px rgba(0, 0, 0, 0.2);
}

button:hover {
    border-color : #396CD8;
}

button:active {
    border-color     : #396CD8;
    background-color : #E8E8E8;
}

input,
button {
    outline : none;
}
